In [1]:
from transactions import *

In [ ]:
2023-01-15

In [14]:
get_total_amount_to_month(1)

3859.89

In [15]:
get_total_reward_to_month(1)

7360.6

In [2]:
df = get_month_transactions()

In [3]:
df

,date,category,reward,amount,note,totalsR,totalsA
0,2023-01-15,food,0.0,46.50,mcd,7360.6,
1,2023-01-15,drink,0.0,80.00,happy hour,,4357.89
2,2023-01-15,food,0.0,1082.00,bino,,
3,2023-01-06,food,0.0,52.00,lunch,,
4,2023-01-07,food,0.0,46.50,lunch mcd,,
5,2023-01-09,food,0.0,50.00,lunch,,
6,2023-01-10,food,0.0,50.00,lunch,,
7,2023-01-11,food,0.0,50.00,lunch,,
8,2023-01-01,trans,0.0,50.00,octopus,,
9,2023-01-07,trans,0.0,100.00,octopus,,
10,2023-01-08,reward,18.0,0.00,trans reward,,
11,2023-01-12,trans,0.0,50.00,octopus,,
12,2023-01-14,trans,0.0,100.00,octopus,,
13,2023-01-19,trans,0.0,50.00,octopus,,
14,2023-01-20,trans,0.0,50.00,octopus,,
15,2023-01-24,trans,0.0,100.00,octopus,,
16,2023-01-19,reward,17.6,0.00,trans reward,,
17,2023-01-10,trans,0.0,100.00,green octopus,,
18,2023-01-12,drink,0.0,20.00,starbucks,,
19,2023-01-06,reward,2405.0,0.00,10botics salary,,
20,2023-01-06,shop,0.0,390.39,prudential hong kong,,
21,2023-01-08,shop,0.0,1280.00,mamamooo concerts,,
22,2023-01-08,food,0.0,45.50,mcd tungchung,,
23,2023-01-08,food,0.0,67.00,taste,,
24,2023-01-05,sell,120.0,0.00,sudio,,
25,2023-01-16,reward,4800.0,0.00,fwd claim,,
26,2023-01-03,shop,0.0,498.00,gym,,

In [12]:
transactions_df = pd.read_sql_table('transactions', engine)

In [ ]:
# Add a new column for the transaction amount sign
transactions_df['amount_sign'] = transactions_df['amount'].apply(lambda x: '+' if x > 0 else '-')

# # Group the dataframe by the transaction date and sum the amounts
# grouped_df = transactions_df.groupby(['date']).sum()

# # Create a pivot table to show the total income and expenses for each date
# pivot_table = grouped_df.pivot_table(values='amount', columns='amount_sign', aggfunc='sum')

# # Print the pivot table
# pivot_table

In [ ]:
transactions_df