In [1]:
from transactions import *

In [ ]:
2023-01-27

In [3]:
main()

Transaction added
Transactions saved successfully!

10

In [2]:
transactions_df = pd.read_sql_table('transactions', engine)

In [3]:
transactions_df

Empty DataFrame
Columns: [id, date, category, amount, note]
Index: []

In [4]:
# Add a new column for the transaction amount sign
transactions_df['amount_sign'] = transactions_df['amount'].apply(lambda x: '+' if x > 0 else '-')

# # Group the dataframe by the transaction date and sum the amounts
# grouped_df = transactions_df.groupby(['date']).sum()

# # Create a pivot table to show the total income and expenses for each date
# pivot_table = grouped_df.pivot_table(values='amount', columns='amount_sign', aggfunc='sum')

# # Print the pivot table
# pivot_table

In [5]:
transactions_df

Empty DataFrame
Columns: [id, date, category, amount, note, amount_sign]
Index: []