In [1]:
from transactions import *

In [3]:
main()

   id        date category  amount    note
0   1  2023-01-27    trans       5  bus 43

In [2]:
get_total_amount_today()

5

In [2]:
get_month_transactions()

   id        date category  amount    note
0   1  2023-01-27    trans       5  bus 43

In [24]:
2023-01-27

TypeError: unbound method date.strftime() needs an argument