In [1]:
from transactions import *

In [ ]:
2023-01-27

In [2]:
get_total_amount_to_month(1)

10.0

In [3]:
get_total_reward_to_month(1)

17000

In [4]:
get_total_reward_to_month(1) - get_total_amount_to_month(1)

16990.0

In [5]:
get_month_transactions()

   id        date category  reward  amount note   totals
0   1  2023-01-27   reward   17000     0.0       16990.0
1   2  2023-01-27    trans       0     5.0   43
2   3  2023-01-27    trans       0     5.0   43

In [6]:
main()

Transactions saved as csv successfully!

In [2]:
transactions_df = pd.read_sql_table('transactions', engine)

In [3]:
transactions_df

Empty DataFrame
Columns: [id, date, category, amount, note]
Index: []

In [4]:
# Add a new column for the transaction amount sign
transactions_df['amount_sign'] = transactions_df['amount'].apply(lambda x: '+' if x > 0 else '-')

# # Group the dataframe by the transaction date and sum the amounts
# grouped_df = transactions_df.groupby(['date']).sum()

# # Create a pivot table to show the total income and expenses for each date
# pivot_table = grouped_df.pivot_table(values='amount', columns='amount_sign', aggfunc='sum')

# # Print the pivot table
# pivot_table

In [5]:
transactions_df

Empty DataFrame
Columns: [id, date, category, amount, note, amount_sign]
Index: []